<div class="col-12 col-md-3">
    <div class="card">
      <img src="../img/{{this}}.png" class="card-img-top" alt="{{this}}">
      <div class="card-body">
        <h5 class="card-title">{{this}}</h5>
      </div>
    </div>
</div>

{{!-- <div id="galeria" class="container col-6 col-md-3 m-2">
    <div id="card" class="card text-white bg-success">
        <img src="../img/{{this}}.png" class="card-img-top" style="width: 20%; float: left; text-align: center;">
        <div class="card-body">
            <h5 class="card-title"><b>{{this}}</b></h5>
        </div>
    </div>
</div> --}}
